<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>565512096164-nmiupl20632ge442mcu3bcn9t3s3mfai.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.565512096164-nmiupl20632ge442mcu3bcn9t3s3mfai</string>
	<key>API_KEY</key>
	<string>AIzaSyBorTQfejRkbMrkoYRM46WDDkZWDKDZ54o</string>
	<key>GCM_SENDER_ID</key>
	<string>565512096164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hetpatel.suits</string>
	<key>PROJECT_ID</key>
	<string>suits-4f57c</string>
	<key>STORAGE_BUCKET</key>
	<string>suits-4f57c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:565512096164:ios:47c1a4c552be0a74199931</string>
	<key>DATABASE_URL</key>
	<string>https://suits-4f57c.firebaseio.com</string>
</dict>
</plist>