<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>996485688184-uqo1qocj41r93276jo6ol0rlj9dv45mt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996485688184-uqo1qocj41r93276jo6ol0rlj9dv45mt</string>
	<key>API_KEY</key>
	<string>AIzaSyDhxGovml8loaRwaWzmhn0Qe218muINy-I</string>
	<key>GCM_SENDER_ID</key>
	<string>996485688184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hetpatel.jamesBond</string>
	<key>PROJECT_ID</key>
	<string>james-bond-3743f</string>
	<key>STORAGE_BUCKET</key>
	<string>james-bond-3743f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996485688184:ios:7c46ef4937c637811b768d</string>
	<key>DATABASE_URL</key>
	<string>https://james-bond-3743f.firebaseio.com</string>
</dict>
</plist>